/* CursorTrail.css */
// body {
//     // cursor: none;
    // cursor: url('../assets/cursors/rocket.png'), auto;
// }

#cursor-trail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Ensure it covers the viewport width */
    height: 100vh; /* Ensure it covers the viewport height */
    pointer-events: none;
    overflow: hidden;
    z-index: 9999; /* Ensure it appears on top */
}

.trail {
    position: absolute;
    width: 30px;
    height: 20px;
    background: radial-gradient(circle, rgba(48, 48, 48, 0.8) 0%, rgba(117, 117, 117, 0) 70%);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: trail-animation 1s linear infinite;
    z-index: 9999; /* Ensure it's on top */
}

@keyframes trail-animation {
    0% {
        transform: scale(0.5) translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: scale(2) translate(-50%, -50%);
        opacity: 0;
    }
}


// cursors
.cursor_section_home {
    cursor: url('../assets/cursors/rocket.png'), auto;
}

.cursor_section_about {
    cursor: url('../assets/cursors/dna.png'), auto;
}